@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

input[type="text"].whichChris {
  color: limegreen;
}

input[type="text"].flickName {
  color: blue;
}